# Python
__pycache__/
*.pyc

# Virtual environment
.venv/
venv/

# Data 
data/raw_data/
data/processed_data/

# Outputs
output/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# VS Code
.vscode/